@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Italiana', serif;
}

body {
    width: 100%;
}

header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    padding: 1.5rem 4rem;

    font-size: 22px;

    position: sticky;
    top: 0;

    z-index: 100;

    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);

    border: 1px solid rgba(255, 255, 255, 0.18);
}

a {
    color: #000;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: #ff3131;
}

label {
    font-size: 24px;
    font-family: 'Noto Sans Thai', sans-serif;
}

input {
    font-size: 20px;
    font-family: 'Noto Sans Thai', sans-serif;

    outline: none;
    border: none;
    background-color: transparent;

    border-bottom: 1px solid #000;
}

input::placeholder {
    color: #000;
    letter-spacing: 2px;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    width: 100%;
    font-size: 100px;
    cursor: pointer;

    outline: none;
    border: none;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    text-align: end;
}

button:hover {
    color: #ff3131;
}

p {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Noto Sans Thai', sans-serif;
    letter-spacing: 2px;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #ff3131c5;
}

::selection {
    background-color: #ff3131;
    color: #fff;
}

.logo {
    font-size: 36px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 7rem;
}

.nav-links--none {
    font-size: 36px;
    display: none;
    align-items: center;
}

.ul-links--none {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    background: rgba(0, 0, 0, 0.5);

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Add your CSS styles for the offcanvas menu here */
.offcanvas-menu {
    position: fixed;
    top: -400px;
    left: 0;
    /* Offcanvas menu hidden by default */
    width: 100%;

    color: white;
    transition: top 0.3s ease;
}

.offcanvas-menu ul {
    list-style: none;
    padding: 1rem 0;
}

.offcanvas-menu ul li {
    padding: 10px;
}

.offcanvas-menu a {
    color: white;
    text-decoration: none;
}

.hamburger {
    cursor: pointer;
    z-index: 4;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 2em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

/* Style for overlay when menu is open (optional) */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 3;
    display: none;
}

.hamburger input:checked+svg+.overlay {
    display: block;
}


.nav-link {
    line-height: 2;
    position: relative;
}

.nav-link::before {
    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: #ff3131;
    position: absolute;
    bottom: 8px;
    right: 0;
    transition: right .4s, width .4s, left .4s;
}

.nav-link:hover::before {
    width: 100%;
    left: 0;
}

#home {
    margin-top: -95px;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__hero {
    width: 1500px;
    height: 900px;
    overflow: hidden;
}

#about {
    width: 100%;
    height: 100vh;

    padding-top: 95px;
    margin-top: 25px;

    display: flex;
    justify-content: center;
}

.about__container {
    width: 100%;
    height: 100%;

    display: flex;
}

.about__container--left {
    justify-content: center;

    padding: 2rem 4rem;
}

.about__container--right {
    flex-direction: column;

    padding: 2rem 4rem;
}

.about__title {
    font-size: 108px;
    margin-bottom: 50px;
}

.about__subtitle {
    font-size: 18px;
    font-family: 'Noto Sans Thai', sans-serif;
}

.about__col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 2rem;
}

.about__profile {
    width: 500px;
    height: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: filter 0.2s ease-in-out;
}

.about__profile:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}


#portfolio {
    width: 100%;
    height: 100vh;

    padding-top: 95px;
}

.portfolio__container {
    padding: 0 4rem;
    height: 100%;
}

.project__title {
    font-size: 108px;
    margin-bottom: 50px;
}

.project__content {
    display: flex;
    justify-content: center;
}

.projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 100%;
    gap: 3rem;
    position: absolute;
    padding: 0 4rem;
}

.project {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid #303030;
    overflow: hidden;
    position: relative;
}

.project:nth-child(2n) {
    top: 100px;
}

.project__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.card__body {
    position: absolute;
    bottom: -100%;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 2;
    padding: 2rem;
    transition: .5s ease-in-out;
}

.project:hover .card__body {
    bottom: 0;
    /* Change 'right' to 'bottom' and set it to 0 */
}

.card__title {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    margin-top: 1rem;
    font-family: 'Noto Sans Thai', sans-serif;
}

.card__subtitle {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Noto Sans Thai', sans-serif;
    color: #fff;
    margin-top: 1rem;
}

.projects--none {
    display: none;
    width: 100%;
    height: 100%;
    gap: 4rem;

    flex-direction: column;
}

.project--none {
    width: 85%;
    max-height: fit-content;
    min-height: 75px;
    background-color: rgba(255, 0, 0, 0.40);
    color: #fff;

    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.project--none:nth-child(2n) {
    align-self: flex-end;
}

.project--none:nth-child(2) {
    background-color: rgba(255, 0, 0, 0.55);
}

.project--none:nth-child(3) {
    background-color: rgba(255, 0, 0, 0.70);
}

.project--none:nth-child(4) {
    background-color: rgba(255, 0, 0, 0.85);
}

.project__link--none {
    font-size: 36px;
}

.bx-link {
    color: #fff !important;
}

.project__content--none {
    font-family: 'Noto Sans Thai', sans-serif;
    padding: 0 1rem;
}

#contact {
    width: 100%;
    height: 100vh;

    padding-top: 95px;

    display: flex;
    justify-content: center;
}

.contact__form {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    margin-bottom: 2rem;
}

.input__group {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#email,
#phone {
    width: 45%;
}

.contact__container {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.contact__container--left {
    margin-top: 7.5rem;
    padding: 2rem 4rem;
}

.contact__container--right {
    flex-direction: column;

    padding: 2rem 4rem;
}

.contact__title {
    font-size: 108px;
}

.contact__col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 2rem;

    margin-top: auto;
    margin-bottom: 4rem;
}

.contact__subtitle {
    font-size: 18px;
    font-family: 'Noto Sans Thai', sans-serif;
}

.social {
    font-size: 18px;
    font-family: 'Noto Sans Thai', sans-serif;
    cursor: pointer;
}

.contact__col--none {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.form--none {
    margin-top: 3rem;
    display: none;
}

.contact__col--none {
    display: none;
}

.bx-right-arrow-alt {
    margin-right: -10px;
}

.title__underline {
    height: 30px;
    margin-top: -40px;
    background-color: #ff3131;
}

.title__underline--about {
    width: 280px;
}

.title__underline--portfolio {
    margin-left: 165px;
    width: 370px;
}

.title__underline--contact {
    width: 365px;
}

@media screen and (max-width: 1380px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }

    #portfolio {
        height: 200vh;
    }

    .about__title,
    .project__title,
    .contact__title {
        font-size: 72px;
    }

    .title__underline {
        height: 20px;
        margin-top: -25px;
    }

    .title__underline--about {
        width: 200px;
    }

    .title__underline--portfolio {
        margin-left: 100px;
        width: 250px;
    }

    .title__underline--contact {
        width: 250px;
    }

}

@media screen and (max-width: 1200px) {
    #portfolio {
        height: 170vh;
    }
}

@media screen and (max-width: 1125px) {
    #about {
        height: 170vh;
        flex-direction: column;
    }
}

@media screen and (max-width: 1024px) {

    .projects,
    .nav-links {
        display: none;
    }

    .projects--none,
    .nav-links--none {
        display: flex;
    }

    #portfolio {
        height: 100vh;
    }

    header {
        background: none;
        backdrop-filter: none;

        background-color: rgba(255, 255, 255);
    }

    .about__title,
    .project__title,
    .contact__title {
        font-size: 54px;
    }

    .title__underline {
        height: 15px;
        margin-top: -20px;
    }

    .title__underline--about {
        width: 150px;
    }

    .title__underline--portfolio {
        margin-left: 75px;
        width: 200px;
    }

    .title__underline--contact {
        width: 175px;
    }

    .contact__container--left,
    .contact__col {
        display: none;
    }

    .bx-right-arrow-alt {
        font-size: 50px;
    }

    button {
        margin-top: -3rem;
    }

    .contact__col--none,
    .form--none {
        display: flex;
    }
    
}

@media screen and (max-width: 565px) {
    .about__profile {
        width: 425px;
        height: 600px;
    }
}

@media screen and (max-width: 500px) {

    header,
    .portfolio__container {
        padding: 1rem 2rem;
    }

    .portfolio__container {
        height: 100vh;
    }

    .logo {
        font-size: 24px;
    }

    .hamburger svg {
        height: 1.5em;
    }

    .about__profile {
        width: 375px;
        height: 525px;
    }

    .about__container {
        height: auto;
    }

    #about {
        margin-top: 0;
        padding-top: 0;
    }

    .about__container--right {
        padding-top: 0;
    }

    .about__subtitle {
        font-size: 16px;
    }

    p {
        font-size: 16px;
    }

    .contact__subtitle,
    .social {
        font-size: 12px;
    }

    .contact__container--right {
        margin-top: 50px;
    }

    #portfolio {
        padding-top: 75px;
    }

    #contact {
        height: 110vh;
        padding-top: 0;
    }

    .projects--none {
        gap: 2rem;
    }
}

@media screen and (max-width: 425px) {
    #home {
        margin-bottom: 150px;
    }

    .about__profile {
        width: 325px;
        height: 400px;
    }

    .about__container--right {
        padding-top: 0;
    }

    .about__subtitle {
        font-size: 14px;
    }

    .contact__container--right {
        padding: 2rem 2rem;
    }

    .project__content--none {
        font-size: 12px;
    }
}